@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "League Spartan";
  src: url("../public/font/League\ Spartan.ttf");
}

body {
  font-family: "League Spartan";
}
